<p id="notice"><%= notice %></p>

<h1>Stss Trades</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stss_trades.each do |stss_trade| %>
      <tr>
        <td><%= stss_trade.id %></td>
        <td><%= stss_trade.ticker %></td>
        <td><%= stss_trade.trade_type %></td>
        <td><%= stss_trade.buy_date %></td>
        <td><%= stss_trade.buy_price %></td>
        <td><%= stss_trade.sell_date %></td>
        <td><%= stss_trade.sell_price %></td>
        <td><%= stss_trade.gain %></td>
        <td><%= stss_trade.days %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
